body {
    background-color: #E6E6E6;
}

.box1 {
position: absolute;
width: 1134px;
height: 147px;
left: 0px;
top: 0px;

background: #E6E6E6;
border-radius: 25px;
}

.box2 {
position: absolute;
width: 1317px;
height: 223px;
left: 25px;
top: 167px;

background: #FFC800;
border-radius: 25px;
}

.box3 {
position: absolute;
width: 486px;
height: 502px;
left: 0px;
top: 410px;
    
background: #E6E6E6;
border-radius: 25px;
}

.box4 {
position: absolute;
width: 566px;
height: 107px;
left: 683px;
top: 415px;
        
background: #E6E6E6;
border-radius: 25px;
}

.box1-text1 {
position: absolute;
width: 1134px;
height: 108px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #5C5C5C;
}

.box1-text2 {
position: absolute;
width: 320px;
height: 64px;
left: 407px;
top: 65px;
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
    
color: #5C5C5C;
}


.box2-text {
position: absolute;
width: 1317px;
height: 223px;
left: 0px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #5C5C5C;
}

.box3-text {
position: absolute;
width: 486px;
height: 400px;
left: 0px;
top: 0px;
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
    
color: #5C5C5C;   
}

.box4-text {
position: absolute;
width: 566px;
height: 118px;
left: 0px;
top: 0px;
        
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
        
color: #5C5C5C;
}